.login {
  width: 20%;
  border-radius: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 30%;
}

.logo {
  position: absolute;
  left: 40%;
  top: 30%;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}
